<?xml version="1.0" encoding="UTF-8"?>
<Patterns>
	<RowsToRemove>
		<Row id="1"><Cell count="18" empty="true" /></Row>
		<Row id="2">
			<Cell empty="true" />
			<Cell><Data startsWith="Место вызова" /></Cell>
			<Cell count="4" empty="true"/>
		</Row>
		<Row id="3"><Cell count="18" empty="true" /></Row>
		<Row id="4">
			<Cell count="13" empty="true"/>
			<Cell><Data startsWith="Стр." print="true" notEquals="Стр. 1" /></Cell>
			<Cell empty="true"/>
		</Row>
		<Row id="5">
			<Cell count="4" empty="true" />
			<Cell><Data empty="false" /></Cell>
			<Cell count="3" empty="true" />
		</Row>
		<Row id="6"><Cell count="11" empty="true" /></Row>
		<Row id="7"><Cell count="18" empty="true" /></Row>
		<Row id="8">
			<Cell count="2" empty="true" />
			<Cell><Data startsWith="за период" /></Cell>
			<Cell count="3" empty="true" />
		</Row>
		<Row id="9">
			<Cell count="2" empty="true" />
			<Cell count="2"><Data empty="true" /></Cell>
			<Cell count="2" empty="true" />
		</Row>
		<Row id="10"><Cell count="9" empty="true" /></Row>
		<Row id="11"><Cell count="18" empty="true" /></Row>
		<Row id="12">
			<Cell><Data startsWith="Детализация оказанных услуг" /></Cell>
			<Cell empty="true"/>
		</Row>
		<Row id="13">
			<Cell><Data equals="Дата" /></Cell>
			<Cell><Data equals="Время" /></Cell>
			<Cell count="6" empty="false" />
			<Cell empty="true" />
		</Row>
	</RowsToRemove>
	<DataRow>
		<Cell><Data regex="^\d\d\.\d\d\.\d\d$" /></Cell>
		<Cell><Data regex="^\d\d\:\d\d\:\d\d$" /></Cell>
		<Cell><Data/></Cell>
		<Cell count="3"><Data empty="false" /></Cell>
		<Cell><Data/></Cell>
		<Cell><Data type="Number" empty="false" /></Cell>
		<Cell empty="true" />
	</DataRow>
</Patterns>
